# Node.js
node_modules/
dist/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables
.env
backend/.env
**/.env

# Upload folder
uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

backend/vectorstore/
